{% extends "base_auth.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <img src="{% static 'img/logo_jairomotos.png' %}" alt="Jairo Motos" class="auth-logo">
  <div class="auth-container">

    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="form-field">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="form-error">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit">Entrar</button>
    </form>
    <p class="auth-switch">
      Ainda não tem conta? <a href="{% url 'signup' %}">Cadastre-se</a>
    </p>
  </div>
{% endblock %}
