{% extends "base_auth.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="auth-container">

    <h2>Login</h2>
    <form method="post" class="formezin">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-field">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="form-error">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endfor %}

      {# Centralized non-field errors #}
      {% if form.non_field_errors %}
      <div class="non-field-errors">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      <button type="submit">Entrar</button>
    </form>
    <p class="auth-switch">
      Ainda não tem conta? <a href="{% url 'signup' %}">Cadastre-se</a>
    </p>
  </div>
{% endblock %}
