body {
    margin: 0;
    font-family: Montserrat;
    background-color: #fbfbfb;
    color: #333;
}

.header {
    background-color: #1e7fe6; 
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 200px;
}

.content {
    padding: 30px;
    min-height: 70vh;
    background-color: white;
}

.footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}
