{% extends "base.html" %}
{% load formatadores %}

{% block content %}
<h1 class="titulo-pagina">Motos Disponíveis</h1>

<form method="get" class="filtro-form">
    <div class="filtros">
        <select name="marca">
            <option value="">Todas as marcas</option>
            {% for value, display in marcas %}
                <option value="{{ value }}" {% if valores_get.marca == value %}selected{% endif %}>{{ display }}</option>
            {% endfor %}
        </select>

        <input type="text" name="modelo" placeholder="Modelo" value="{{ valores_get.modelo }}">
        <input type="number" name="preco_max" placeholder="Preço máximo" value="{{ valores_get.preco_max }}">
        <input type="number" name="ano" placeholder="Ano" value="{{ valores_get.ano }}">

        <button type="submit">Filtrar</button>
    </div>
</form>

<section class="motos-container">
    {% if loja %}
        {% for moto in loja %}
        <div class="moto-card">
            <img src="{{ moto.imagem.url }}" alt="{{ moto.modelo }}" class="moto-img">
            <div class="moto-info">
                <h2 class="moto-modelo">{{ moto.modelo }} - {{ moto.ano }}</h2>
                <p class="moto-marca">{{ moto.get_marca_display }}</p>
                <p class="moto-preco">{{ moto.preco|moeda_brasileira }}</p>

                <form method="post" action="{% url 'carrinho' %}">
                    {% csrf_token %}
                    <input type="hidden" name="moto_id" value="{{ moto.id }}">
                    <button type="submit" class="botao-whatsapp">Adicionar ao Carrinho</button>
                </form>


            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="empty-message">
            Nenhuma moto cadastrada
        </div>
    {% endif %}
</section>

<div class="paginacao">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo;</a>
        <a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <strong class="pagina-atual">{{ num }}</strong>
        {% elif num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> &rsaquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
    {% endif %}
</div>

{% endblock %}
